<header>
    <nav>
        <a href="/">
            <h1>MOVIEMAGIC</h1>
        </a>
        <div class="search">
            <form action="/header" method="post">
                <input type="text" name="input" id="input">
                <button type="submit">Search</button>
                <!-- <input type="submit" value="Search"> -->
            </form>
        </div>
    </nav>
</header>